<!-- SSRN Footer Component -->
<!-- Include this component by adding: -->
<!-- <div id="site-footer-container"></div> -->
<!-- <link rel="stylesheet" href="/Ssrn/css/components/footer.css"> -->
<!-- <script src="/Ssrn/js/components/footer.js"></script> -->

<footer class="footer" id="siteFooter">
    <div class="footer__inner">

        <!-- Top: Logo + Help -->
        <div class="footer__top">
            <div class="footer__logo">
                <img src="/Ssrn/assets/images/icons/footer icon/vector-2.svg" alt="S">
                <img src="/Ssrn/assets/images/icons/footer icon/vector-2.svg" alt="S">
                <img src="/Ssrn/assets/images/icons/footer icon/vector-1.svg" alt="R">
                <img src="/Ssrn/assets/images/icons/footer icon/vector.svg" alt="N">
            </div>
            <a href="#help" class="footer__help-btn">
                <span>Help</span>
                <div class="footer__help-icon">
                    <img src="/Ssrn/assets/images/icons/footer icon/question mark.svg" alt="Help">
                </div>
            </a>
        </div>

        <!-- Middle: Link Groups -->
        <div class="footer__links-wrapper">
            <div class="footer__link-sections">

                <!-- Company -->
                <div class="footer__link-group">
                    <h3 class="footer__link-heading">Company</h3>
                    <ul class="footer__link-list">
                        <li>
                            <a href="#about" class="footer-link" id="footer-link-about">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">About Us</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#chauffeurs" class="footer-link" id="footer-link-chauffeurs">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">For Chauffeurs</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#partners" class="footer-link" id="footer-link-partners">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">For Partners</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Explore -->
                <div class="footer__link-group">
                    <h3 class="footer__link-heading">Explore</h3>
                    <ul class="footer__link-list">
                        <li>
                            <a href="#airport" class="footer-link" id="footer-link-airport">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">Airport Transfers</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#city" class="footer-link" id="footer-link-city">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">City-to-city Rides</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#hourly" class="footer-link" id="footer-link-hourly">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">Hourly Rides</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Top Cities -->
                <div class="footer__link-group">
                    <h3 class="footer__link-heading">Top Cities</h3>
                    <ul class="footer__link-list">
                        <li>
                            <a href="#ny" class="footer-link" id="footer-link-ny">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">New York</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#la" class="footer-link" id="footer-link-la">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">New York</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#ch" class="footer-link" id="footer-link-ch">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">New York</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#mi" class="footer-link" id="footer-link-mi">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">New York</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sf" class="footer-link" id="footer-link-sf">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">New York</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#bo" class="footer-link" id="footer-link-bo">
                                <span class="footer-link__icon">
                                    <img src="/Ssrn/assets/images/icons/footer link/Link new tab.svg" alt="">
                                </span>
                                <span class="footer-link__text">New York</span>
                                <span class="footer-link__arrow">
                                    <img src="/Ssrn/assets/images/icons/footer link/Arrow forward.svg" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Bottom: Legal + Social -->
        <div class="footer__bottom">
            <div class="footer__legal-links">
                <a href="#terms" class="footer-link" id="footer-link-terms">
                    <span class="footer-link__text">Terms and Conditions</span>
                </a>
                <a href="#privacy" class="footer-link" id="footer-link-privacy">
                    <span class="footer-link__text">Privacy Policy</span>
                </a>
                <a href="#legal" class="footer-link" id="footer-link-legal">
                    <span class="footer-link__text">Legal Notice</span>
                </a>
                <a href="#accessibility" class="footer-link" id="footer-link-accessibility">
                    <span class="footer-link__text">Accessibility</span>
                </a>
            </div>

            <div class="footer__socials">
                <!-- Facebook -->
                <a href="#facebook" class="footer__social-link" aria-label="Facebook" id="footer-social-facebook">
                    <img src="/Ssrn/assets/images/icons/footer icon/Bounding box-2.svg" alt="Facebook" width="28"
                        height="28">
                </a>
                <!-- Instagram -->
                <a href="#instagram" class="footer__social-link" aria-label="Instagram" id="footer-social-instagram">
                    <img src="/Ssrn/assets/images/icons/footer icon/Bounding box-1.svg" alt="Instagram" width="28"
                        height="28">
                </a>
                <!-- TikTok -->
                <a href="#tiktok" class="footer__social-link" aria-label="TikTok" id="footer-social-tiktok">
                    <img src="/Ssrn/assets/images/icons/footer icon/Bounding box.svg" alt="TikTok" width="28"
                        height="28">
                </a>
                <!-- LinkedIn -->
                <a href="#linkedin" class="footer__social-link" aria-label="LinkedIn" id="footer-social-linkedin">
                    <img src="/Ssrn/assets/images/icons/footer icon/Bounding box-3.svg" alt="LinkedIn" width="28"
                        height="28">
                </a>
            </div>
        </div>

    </div>
</footer>